<nav class="navbar">
  <div class="logo">Neuron<span>Ops</span></div>
  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <ul [class.active]="menuOpen">
    <li>
      <a routerLink="/">
        <span class="material-symbols-outlined">home</span>
        Home
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <span class="material-symbols-outlined">info</span>
        About
      </a>
    </li>
    <li>
      <a routerLink="/services">
        <span class="material-symbols-outlined">build_circle</span>
        Services
      </a>
    </li>
    <li>
      <a routerLink="/sectors">
        <span class="material-symbols-outlined">business</span>
        Sectors
      </a>
    </li>
    <li>
      <a routerLink="/ops-methodology">
        <span class="material-symbols-outlined">school</span>
        OPS Methodology
      </a>
    </li>
    <li>
      <a routerLink="/case-study">
        <span class="material-symbols-outlined">fact_check</span>
        Case Studies
      </a>
    </li>
    <li>
      <a routerLink="/blog">
        <span class="material-symbols-outlined">article</span>
        Blog
      </a>
    </li>
    <li>
      <a routerLink="/contact" class="contact-btn">Contact</a>
    </li>
  </ul>
</nav>
