<nav class="navbar">
  <div class="logo">Neuron<span>Ops</span></div>
  <ul>
    <li><a routerLink="/" href="#">Accueil</a></li>
    <li><a routerLink="/a-propos">À propos</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/secteurs">Secteurs</a></li>
    <li><a routerLink="/ops">Méthodologie OPS</a></li>
    <li><a routerLink="/etudes-de-cas">Études de cas</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contact" class="contact-btn">Contact</a></li>
  </ul>
</nav>
