<nav class="navbar">
  <div class="logo">Neuron<span>Ops</span></div>
  <ul>
    <li><a routerLink="/" href="#">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/secteurs">Sectors</a></li>
    <li><a routerLink="/ops">OPS Methodology</a></li>
    <li><a routerLink="/etudes-de-cas">Case Studies</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contact" class="contact-btn">Contact</a></li>
  </ul>
</nav>
